@keyframes lds-rolling {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.lds-css {
  margin: auto;
}
.lds-rolling {
  position: relative;
}
.lds-rolling div,
.lds-rolling div:after {
  position: absolute;
  width: 180px;
  height: 180px;
  border: 20px solid #f2f00a;
  border-top-color: transparent;
  border-radius: 50%;
}
.lds-rolling div {
  animation: lds-rolling 1.5s linear infinite;
  top: 100px;
  left: 100px;
}
.lds-rolling div:after {
  transform: rotate(90deg);
}
.lds-rolling {
  width: 80px;
  height: 80px;
  transform: translate(-40px, -40px) scale(0.4) translate(40px, 40px);
}